body{
    background-color:rgb(238, 143, 144);
    zoom: 80%;/*Quitar si se ejecuta en opera*/
}
.cuadro{
    width: 1450px;
    height: 914px;
    background-color: rgb(231, 231, 231);
    margin-top: 125px;
    margin-left: 435px;
    border-radius: 50px;
    box-shadow: 0 0 50px;
}
.imagen1{
    position: absolute;
    width: 688px;
    height: 914px;
    border-radius: 50px;
}
.cuadro2{
    position: absolute;
    width: 625px;
    height: 502px;
    background-color: rgb(238, 143, 144);
    margin-top: 206px;
    margin-left: 760px;
    border-radius: 35px;
    box-shadow: 0 0 50px;
}
.ncontra{
    width: 464px;
    height: 80px;
    background-color: white;
    margin-top: 35px;
    margin-left: 80.5px;
    border-radius: 40px;
    font-size: 25px;
}
.cncontra{
    width: 464px;
    height: 80px;
    background-color: white;
    margin-top: 15px;
    margin-left: 80.5px;
    border-radius: 40px;
    font-size: 25px;
}
.Registro{
    width: 222px;
    height: 85px;
    background-color: rgba(40, 82, 117, 0.85);
    margin-top: 15px;
    margin-left: 80.5px;
    border-radius: 35px;
    font-size: 25px;
    color: white;
}
.Cancelar{
    position: absolute;
    width: 222px;
    height: 85px;
    background-color: rgba(40, 82, 117, 0.85);
    margin-top: -85px;
    margin-left: 322.5px;
    border-radius: 35px;
    font-size: 25px;
    color: white;
}
.titulo{
    text-align: center;
    margin-top: 60px;
    font-size: 50px;
    color: white;
}